<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>感谢您的捐助，我们会继续提供更好的服务</title>
  <script type="text/javascript" th:src="@{/js/jquery/jquery-3.3.1.js}" src="js/jquery/jquery-3.3.1.js" ></script>
<link th:href="@{/css/login.css}" href="css/login.css" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" th:href="@{/css/cloudstyle.css}" href="css/cloudstyle.css"/>
<!-- layer -->
<link type="text/css" rel="stylesheet" th:href="@{/plug/layui/css/layui.css}"/>
<script type="text/javascript" th:src="@{/plug/layui/layui.all.js}"  src="plug/layui/layui.all.js" ></script>
<style type="text/css">
	.contant{
		margin-top: 100px;
		justify-content: center;
		display: flex;
	}
	.div1{width: 300px; height: 300px; background: red; float: left;}
    .div2{width: 300px; height: 300px; background: yellow; float: left;}
</style>
<body>
	<div class="contant">
		<div class="div1"></div>
	    <div class="div2"></div>
	   
	</div>
	<div>
	    <h1 style="font-size:25px;font-weight:bold;text-align:center;margin-top: 20px;">感谢您的捐助，我们会继续提供更好的服务！</h1>
	    <br>
	    <span style="font-size: 16px;">
	    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前为您提供服务的是阿里云1核1G服务器，
	    	相比收费服务器性能、效率差的很多。
			而且每年都要续费和维护服务器，
			一大笔开销让作者尤为困扰。
			您的捐助我们将用来续费域名和维护服务器，
			本次捐助全凭个人意愿，
			一分也是情，一块更是爱。
			其中支付宝账号是：15751026295，
			微信账号是：
			感谢您对我们服务的支持！
	    </span>
	</div>
</body>
</html>